# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# CEP debug (hapus baris ini kalau mau ikut di-commit)
# .debug

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
